/* Nombre: Juan Naranjo */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.primera-seccion {
    width: 100%;
    height: 770px; /* Altura total de la ventana */
    display: flex;
    flex-direction: column;
    background-color: #A3A656;
}

.cabecera {
    width: 100%;
    height: 70px;
    padding: 0px 0px 0px 70px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
}

.menu-principal {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menu-principal :hover {
    color: #FFFF00;
}

.menu-principal a{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.seccion-derecha{
    box-sizing: border-box;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 50px;
    padding-right: 15px;
}

.cuenta{
    display: flex;
    align-items: center;
    gap: 10px;
}

.idioma{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cuerpo-seccion {
    box-sizing: border-box;
    width: 100%;
    height: 700px; 
    background-image: url('imagenes/main.png');
    background-size: cover; 
    background-repeat: no-repeat;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1.1fr 1fr;
    grid-template-rows: 1.1fr 1fr;
}

.cuerpo-seccion-izquierda {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-left: 26%;
}

.nombre-spa{
    box-sizing: border-box;
    font-family: 'Romanesco', cursive;
    font-weight: 400; /* Peso de la fuente = normal */
    font-size: 96px;
    padding: 0;
    margin: 5% 0;
}


/* SEGUNDA SECCION DE LA PAGINA */
.segunda-seccion {
    width: 100%;
    height: 770px; /* Altura total de la ventana */
    margin: 0%;
    padding: 0%;
    border: none;
    box-sizing: border-box;
}

    /* Seccion de reservas (en la cabecera)  */
.reservas{
    width: 100%;
    height: 100px;
    background-color: #F2F6F6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#reservar{
    background-color: white;
    border-radius: 1em;
    border: none;
}

#codigo{
    background-color: white;
    border: none;
    border-radius: 1em;
}

.cajon-entrada1{
    width: 30%; 
    height: 100%;  
    padding: 0.6em;
    margin: 0%;
    border: 0;
    box-sizing: border-box;
}

.cajon-entrada2 {
    width: 17%; 
    height: 100%; 
    padding: 0.6em;
    margin: 0%;
    border: 0;
    box-sizing: border-box;
}


input::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color:  #9E9A9A;
    font-weight: 400; /* Peso de la fuente = normal */  
}

    /* Seccion de los servicios (en la cabecera)  */
.opciones-servicios {
    width: 100%;
    height: 670px;
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center;      /* Centra las cards */
    align-items: center;          /* Centra las cards verticalmente */
    gap: 134px;                   /* Espacio entre las cards */
    box-sizing: border-box;
}

.card{
    width: 24%;
    height: 70%;
    margin: 0%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.nombre-servicio {
    background-color: #A3A656;
    color: white;
    width: 100%;
    height: 20%;
    border-radius: 15px 15px 0px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-servicio {
    width: 100%;
    height: 55%;
    margin: 0%;
    padding: 0%;
    border: 0;
    box-sizing: border-box;
}

.imagen-servicio img {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Ajusta la imagen al contenedor */
}

.detalles-servicio {
    width: 100%;
    height: 25%;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.descripcion-servicio {
    box-sizing: border-box;
    width: 100%;
    height: 40%;
    padding-top: 0.3em;
    margin: 0%;
}

.descripcion-servicio p {
    border: none;
    padding: 0;
    margin: 0;
}

.cierre-servicio{
    box-sizing: border-box;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.precio-servicio {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    display: flex;
    justify-items: left;
    align-items: center;
}

.boton-reservar {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    display: flex;
    margin: 0%;
    padding: 0%;
    border: none;
    justify-content: flex-end; /* lo lleva a la derecha */
    align-items: center;
}

.boton-reservar button{
    width: 90%;
    height: 65%;
    border-radius: 35px;
    background-color: #A3A656;
    color: white;
    cursor: pointer;  
    border: none;
}

.boton-reservar button:hover {
    background-color: #384001; /* Cambia el color de fondo al pasar el mouse */
}


/* TERCERA SECCION DE LA PAGINA */
.tercera-seccion {
    width: 100%;
    height: 867px; /* Altura total de la ventana */
    background-color: #F2F6F6;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.contenido-tercera-seccion {
    width: 100%;
    height: 770px;
}

.titulo-beneficios{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
}

.niveles-beneficios{
    width: 100%;
    height: 85%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
    gap: 134px;

    padding: 3em 0 0 0;
    margin: 0;
}

.nivel-beneficio{
    width: 20%;
    height: 80%;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen-beneficio {
    width: 255px;
    height: 255px;
    margin: 0%;
    padding: 0%;
    border: 22px solid #384001;
    border-radius: 50%;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-beneficio img {
    width: 55%;
    height: 55%;
    object-fit: cover; /* Ajusta la imagen al contenedor */
}

.nombre-beneficio {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0.1em;
    border: none;
    box-sizing: border-box;


}

.detalles-beneficio {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


.boton-condiciones {
    box-sizing: border-box;
    width: 100%;
    height: 40%;
    display: flex;
    margin: 0%;
    padding: 0%;
    border: none;
    align-items: center;
}

.boton-condiciones button{
    width: 100%;
    height: 65%;
    border-radius: 35px;
    background-color: #A3A656;
    color: white;
    cursor: pointer;  
    border: none;
}

.boton-condiciones button:hover {
    background-color: #384001; /* Cambia el color de fondo al pasar el mouse */
}

.beneficios{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    border: none;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.lista-beneficios li{
    box-sizing: border-box;
    padding: 0.2em;
    margin: 0%;
    border:none;
}








.pie-pagina{
    width: 100%;
    height: 97px;
    background-color: #384001;
}





/* ESTILOS GENERALES DE TEXTO */
.menu{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400; /* Peso de la fuente = normal */
}

.titulo2{
    font-family: "Inter", sans-serif;
    font-weight: 600; /* Peso de la fuente */
    font-size: 32px;
    padding: 0;
    margin: 0;
}

.normal{
    font-family: "Inter", sans-serif;
    font-weight: 400; /* Peso de la fuente = normal */
    font-size: 16px;
}

.miniatura {
    font-family: "Inter", sans-serif;
    font-size: 12px;
}
